.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 502px;
  border: solid 1px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-card img {
  width: 500px;
  height: 333px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
